<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.gita.quizappOracle">

    <application
        android:allowBackup="true"
        android:icon="@drawable/image_cover"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity
            android:name="uz.gita.quizappOracle.TestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.gita.quizappOracle.OCAOCPAActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.gita.quizappOracle.TestOSPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.gita.quizappOracle.OCPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="uz.gita.quizappOracle.StudyTipsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="uz.gita.quizappOracle.WinActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="uz.gita.quizappOracle.OCAActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="uz.gita.quizappOracle.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>